

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {

    min-height: 50vh;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(198, 206, 215);

}

.heading {

    font-size: 5rem;
}
#content {

    font-size: 6rem;
}

.btn-container {

    margin-bottom: 5rem;
}

button {

    padding: .6rem 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 1rem;
    border: 3px solid black;
    background-color: rgb(198, 206, 215);
    border-radius: 8px;
    cursor: pointer;
    
}